body {
  font-family: sans-serif;
}

header,
main,
footer {
  max-width: 800px;
  margin: 0 auto;
}

nav ul {
  margin: 1em 0 2em 0;
  padding: 0;
  background: black;
  list-style-type: none;
  display: flex;
  li {
    + li {
      margin-left: 1em;
    }
  }
  a {
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
  }
  li.active {
    background: lightblue;
    a {
      color: black;
      font-weight: bold;
      text-decoration: none;
      pointer-events: none;
      cusor: pointer;
    }
  }
  li.logout {
    margin-left: auto;
  }
}

form {
  display: block;
  margin: auto;
}

label {
  display: block;

  input {
    display: block;
  }

  +label,
  +button {
    margin-top: 1em;
  }
}

.error {
  font-weight: bold;
  color: red;
}

table,td,th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
}

thead {
  background: black;
  color: white;
}

td,th {
  margin: 0;
  padding: 0.5em;
}

footer {
  margin-top: 3em;
}
